.footer {
  padding: 10px 30px;
  background-color: var(--primary-color);
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
  padding-bottom: 20px;
}

.footer-social-media-text {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
}

.footer-social-media-icons {
  display: flex;
  align-items: center;
}

.footer-social-media-icon {
  margin: 0 15px;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-social-media-icon i {
  font-size: 32px;
}

.bi-facebook {
  color: #1877f2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.bi-instagram {
  color: #e1306c;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.bi-youtube {
  color: #ff0000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.bi-twitter {
  color: #1da1f2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.bi-snapchat {
  color: #ffcc00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bi-facebook:hover,
.bi-instagram:hover,
.bi-youtube:hover,
.bi-twitter:hover,
.bi-snapchat:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  filter: brightness(1.2);
}

.footer-links-wrapper {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-links-item {
  width: 30%;
}

.footer-links-item-title {
  color: white;
  font-size: 21px;
  font-weight: 700;
  border-bottom: 3px solid white;
  width: max-content;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-links {
  padding: 5px;
}

.footer-link {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 10px;
  cursor: pointer;
  width: max-content;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-address-item {
  margin-bottom: 20px;
  font-size: 21px;
  color: var(--main-color);
}

.footer-address-item i {
  font-size: 30px;
  margin-right: 5px;
}

.footer-description {
  font-size: 17px;
  color: var(--main-color);
}
